// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Francois+One");

// Color Variables
$yellow: #ffc849;
$blue: #43c2cc;
$dark: #043456;
$mid: #c1c7d0;
$light: #ffffff;

// Size Variables
$xl: 60px;
$lg: 45px;
$md: 30px;
$sm: 15px;
$xs: 5px;

// Font Extensions
%plainText {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
}

%heroText {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
}

// Helpers
%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%wrapper {
  max-width: 1200px;
  width: calc(100% - #{$xl});
  margin: 0 auto;
}

// Root Styles
* {
  box-sizing: border-box;
}

body {
  @extend %plainText;
  background: $light;
}

// Font Styles
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %heroText;
  margin: 0;
}

p {
  margin: 0;
}

// Button Styles
button {
  @extend %heroText;
  min-height: $md;
  padding: 0 $md;
  border: none;
  border-radius: $md;
  text-transform: uppercase;
  background: $blue;
  color: $dark;
  &:hover {
    background: $yellow;
  }
}
