// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Francois+One");

// Color Variables
$yellow: #ffcd36;
$purple: #b25ddf;
$blue: #00b0fb;
$dark: #241259;
$mid: #5e5185;
$light: #f5ebfb;

// Font Extensions
%plainText {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
}

%heroText {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
}

// Root Styles
body {
  @extend %plainText;
}

// Font Styles
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %heroText;
  margin: 0;
}

p {
  margin: 0;
}
